@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */
.login-container {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 80px; /* Adjust based on your navbar height */
}
#about, #gallery, #contact {
  scroll-margin-top: 80px;
}
#home {
  height: 500px;
  background-color: #f0f0f0;
  position: relative;
}

#about, #gallery, #contact {
  padding: 80px 20px;
  background-color: white;
}
#about {
  background-color: #f9f9f9;
}
#gallery {
  background-color: #f0f0f0;
}